* {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    #text{
        display:none;}
}

.header{
    background-image: url(../image/header_img.png);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.topheader {
    transition: all 0.5s ease 0s;
    top: -100px;
    background-color: #000;
}

.topheader.active {
    background: rgba(27, 27, 27, 0.856);
    position: sticky;
    top: 0px;
   
}

.nav-link {
    color: #fff;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0 !important;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.nav-link:hover{
    color: #e59205;
}
.logo {
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 33px;
}
.navbar-nav{
    padding: 15px 0;
}
.banner {
    padding: 135px 200px;
}

.banner h1 {
    color: #fff;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 35px;
}
.banner span{
    color: #e59205;
}
.banner p{
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    margin: 0 60px;
}
.banner .btn_learn {
    margin-top: 20px;
    color: #fff;
    border: 1px solid #ffff;
    border-radius: 2px;
    padding: 8px 30px;
    background: transparent;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    letter-spacing: 3px;
}
.banner .btn_learn:hover{
    background: #e59205;
    border: 1px solid #e59205;
}
.breakfast_section{
    padding: 70px 0;
}
.breakfast_section p{
    font-family: 'Raleway', sans-serif;
    color: #a4a8bc;
    font-size: 21px;
    margin-top: 25px;
    margin-left: 155px;
    margin-right: 192px;
}
.breakfast_filter{
padding-bottom: 100px;
}
.photos{

    margin-top: 35px;
}

.photos img{
   
}
.dessert{

}
.dessert span{
    display: block;
    text-align: center;
    color: #a4a8bc;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
   
}
.load_more {
    margin-left: 55px;
  
}
.load_more  h1 {
    color: #e59205;
    font-size: 45px;
    margin-bottom: 25px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
.load_more  h6 {
    color: #3a3a3a;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.load_more p {
    color: #a4a8bc;
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
.load_more .read-more button{
    color: #6e7498;
    border: 1px solid #d9dcee;
    border-radius: 2px;
    padding: 8px 30px;
    background: transparent;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 25px;
}

 .read-less button{
    color: #6e7498 !important;
    border: 1px solid #d9dcee;
    border-radius: 2px;
    padding: 8px 30px;
    background: transparent;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 25px;
    margin-left: 55px;
}
.slick-prev{ 
    display: none !important;
}
.slick-next{
    display: none !important;
}

.button_1 .btn_learn{
    color: #6e7498;
    border: 1px solid #d9dcee;
    border-radius: 2px;
    padding: 8px 30px;
    background: transparent;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 25px;
}
.heading {
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading span{
        display: block;
        background: #e59205;
        height: 3px;
        width: 12%;
        margin-top: 13px;
}

.heading h1 {
    color: #6e7498;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 700;
    margin-left: 15px;
    margin-right: 20px;
}

.button{
    text-align: center;
    margin-top: 50px;
}
.button .btn_learn{

    color: #6e7498;
    border: 1px solid #d9dcee;
    border-radius: 2px;
    padding: 8px 30px;
    background: transparent;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    margin-left: 25px;
    margin-right: 25px;
    letter-spacing: 3px;
}
.button .btn_learn:hover{
    background: #e59205;
    border: 1px solid #e59205;
    color: #fff;
}
.breakfast_check{
    background-image: url(../image/check_breakfast.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
   
}
.check_section h1 {
    color: #fff;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 700;
    margin-left: -40px;
}
.category_section{
    padding: 100px 0;
}
.heading p{
    font-family: 'Raleway', sans-serif;
    color: #a4a8bc;
    font-size: 21px;
    margin-top: 25px;
    margin-left: 155px;
    margin-right: 192px;
}
.category_section p{
    font-family: 'Raleway', sans-serif;
    color: #a4a8bc;
    font-size: 21px;
    margin-top: 25px;
}

.category{
    padding: 50px 0;
}
.category_icon{

}
.category_icon svg{
    fill: #e59205;
    margin-top: 25px;
    transition: .4s all ease-in-out;
}

.category_content:hover .category_icon svg{
    fill: #fff;
}
.category_content{
text-align: center;
margin-top: 25px;
position: relative;
z-index: 0;
}
.category_content::before{
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 0%;
    width: 0%;
    background-color: #e59205;
    z-index: -1;
    transition: .5s all ease-in-out;
}
.category_content:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 5px;
}
.category_content h4{
    color: #6e7498;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    font-weight: 700;
    margin-top: 25px;
    transition: .4s all ease-in-out;
}
.category_content:hover h4{
    color: #fff;
}
.category_content p{
    font-family: 'Raleway', sans-serif;
    color: #a4a8bc;
    font-size: 18px !important;
    margin-top: 25px;
    line-height: 30px;
    transition: .4s all ease-in-out;
}
.category_content span{
    font-family: 'Raleway', sans-serif;
    color: #a4a8bc;
    font-size: 18px;
    margin-top: 25px;
    line-height: 30px;
    transition: .4s all ease-in-out;
}
.category_content:hover span{
    color: #fff;
}
.category_content:hover p{
    color: #fff;
    transition: .4s all ease-in-out;
}
.category_content button{
    color: #6e7498;
    border: 1px solid #d9dcee;
    border-radius: 2px;
    padding: 8px 30px;
    background: transparent;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 25px;
    letter-spacing: 3px;
}
.category_content:hover button{
    border: 1px solid #fff;
    color: #ffff;
    transition: .4s all ease-in-out;
}

.subscription_section{
    background-image: url(../image/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
}
.subscription_section .heading h1{
    color: #fff;
}
.subscription_section input[type="email"] {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px 65px 15px 65px;
    margin-top: 65px;
}
.subscription_section input::placeholder {
    color: #ffff;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;

}

.subscription_section input:focus {

    outline: none;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: none;
}

.subscription_section .btn_learn{
    color: #fff;
    border: 1px solid #e59205;
    border-radius: 2px;
    padding: 8px 30px;
    background: #e59205;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    margin-top: 25px;
    letter-spacing: 3px;
}
.subscription_section .btn_learn:hover{
    background: transparent;
    border: 1px solid #e59205;
    color: #fff;
}

footer{
    background: #fff;
    padding: 15px 0;
}
.copy_right{
    display: flex;
    align-items: center;
}
.copy_right p{

margin-left: 5px;

color: #a4a8bc;

font-size: 14px;
font-family: 'Raleway', sans-serif;
}
.copy_right i{
    
color: #a4a8bc;
    
font-size: 14px;

}

.list_home{
 display: flex;
 justify-content: end;
}

.list_home a{
    text-decoration: none;
    color: #a4a8bc;
    text-transform: uppercase;
    margin-right: 15px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
}
.list_home a:hover{
    color: #a4a8bc;
}


/* *********** <<<<<<<<<<<<< Progress wrap  >>>>>>>>>>>>>>  ********************* */
.progress-wrap {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: flex;
    border-radius: 50%;
    opacity: 1;
    justify-content: end;
    align-items: center;
    text-decoration: none;
    box-shadow: rgba(146, 78, 78, 0) 0px 0px 0px 2px inset;
    transform: translateY(15px);
    transition: all 200ms linear 0s;
    z-index: 0;
}

.progress-wrap svg i {
    margin-right: 17px;
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.progress-wrap::after {
    position: absolute;
    content: "↑";
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    opacity: 1;
    left: 0px;
    top: 0px;
    height: 45px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    transition: all 200ms linear 0s;
}

.progress-wrap:hover::after {
    opacity: 0;
    color: rgb(255, 255, 255);
}

.progress-wrap::before {
    position: absolute;
    content: "↑";
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    opacity: 1;
    color: rgb(0, 0, 0);
    left: 0px;
    top: 0px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
    transition: all 200ms linear 0s;
}

.progress-wrap:hover::before {
    opacity: 1;
    color: rgb(255, 255, 255);
}

.progress-wrap svg path {
    fill: none;
}

.progress-wrap svg.progress-circle path {
    stroke: rgb(0, 0, 0);
    stroke-width: 4;
    box-sizing: border-box;
    transition: all 200ms linear 0s;
}

  

